<fieldset class="form-group">
	<p>If a member of your family has already signed up, select their name(s) from the list below.</p>
    <p>If you're the first member of your family to join, select "Create a New Family." You will need to fill out a new family profile.</p>
	<select class="form-control" name="familyId" id="familySelect" required><label class="required"></label>
		<option value="" disabled selected hidden><i>Select a Family to Join</i></option>
		<option value="NewFamily"><b>Create a New Family</b></option>
	</select>
	<div class="invalid-feedback">You must select a family, or select "Create a New Family"</div>
</fieldset>