<!-- JQuery and Bootstrap Javascript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<!-- Coop JS -->
<script type="text/javascript" src="../scripts/coop.js"></script>
{if js.script}<script src="../scripts/{js.script}.js"></script>{/if}
{if useTagger}<script src="../scripts/tagger.js"></script>{if}